{# src/FL/FlfagBundle/Resources/views/formDoctor.html.twig #}

<form action="{{ path("index") }}" method="post">
    <div class="row form-group">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Patient
                </div>
                <div class="panel-body">
                    <label for="firstname">Nom :</label>
                    <input type="text" name="firstname" class="form-control"
                           value="{{ patient.firstname is not null ? patient.firstname : "" }}" {{ patient.firstname is not null ? "disabled" : "" }}>
                    <label for="name">Prénom :</label>
                    <input type="text" name="name" class="form-control"
                           value="{{ patient.name is not null ? patient.name : "" }}" {{ patient.name is not null ? "disabled" : "" }}>
                    <label for="birthday">Date de naissance :</label>
                    <input type="date" name="birthday" class="form-control" id="datepicker"
                           value="{{ patient.birthday is not null ? patient.birthday|date("Y-m-d") : "" }}" {{ patient.birthday is not null ? "disabled" : "" }}>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Médecins
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="firstname_doc">Nom :</label>
                            <input type="text" name="firstname_doc" class="form-control"
                                   value="{{ doctor.firstnameDoc is not null ? doctor.firstnameDoc : "" }}" {{ doctor.firstnameDoc is not null ? "disabled" : "" }}>
                            <label for="name_doc">Prénom :</label>
                            <input type="text" name="name_doc" class="form-control"
                                   value="{{ doctor.nameDoc is not null ? doctor.nameDoc : "" }}" {{ doctor.nameDoc is not null ? "disabled" : "" }}>
                            <label for="mail_doc">Email :</label>
                            <input type="text" name="mail_doc" class="form-control"
                                   value="{{ doctor.mailDoc is not null ? doctor.mailDoc : "" }}" {{ doctor.mailDoc is not null ? "disabled" : "" }}>
                        </div>
                        <div class="col-sm-6">
                            <label for="specialite">Spécialité :</label>
                            <input type="text" name="specialite" class="form-control"
                                   value="{{ doctor.specialite is not null ? doctor.specialite : "" }}" {{ doctor.specialite is not null ? "disabled" : "" }}>
                            <label for="cardio">Cardiologue référent :</label>
                            <input type="text" name="cardio" class="form-control" placeholder="Nom et Prénom"
                                   value="{{ doctor.cardio is not null ? doctor.cardio : "" }}" {{ doctor.cardio is not null ? "disabled" : "" }}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-4">
            <div class="panel panel-info form-group">
                <div class="panel-heading">
                    Traitement actuel
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Aspirine</td>
                            <td><input type="checkbox" class="right" value="aspirine"
                                       name="aspirine" {{ traitement.aspirine == 0 ? "" : "checked" }}></td>
                        </tr>
                        <tr>
                            <td>Thienopyridine</td>
                            <td><input type="checkbox" class="right" value="thieno"
                                       name="thieno" {{ traitement.thieno == 0 ? "" : "checked" }}></td>
                        </tr>
                        <tr>
                            <td>AVK</td>
                            <td><input type="checkbox" class="right" value="avk"
                                       name="avk" {{ traitement.avk == 0 ? "" : "checked" }}></td>
                        </tr>
                        <tr>
                            <td>NACO</td>
                            <td><input type="checkbox" class="right" value="naco"
                                       name="naco" {{ traitement.naco == 0 ? "" : "checked" }}></td>
                        </tr>
                        <tr>
                            <td>Aucun</td>
                            <td><input type="checkbox" class="right" value="aucun"
                                       name="aucun" {{ traitement.aucun == 0 ? "" : "checked" }}></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Détails supplémentaires
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Contre Indication à l'ETO</td>
                            <td><input type="checkbox" value="contre_eto" class="right"
                                       name="contre_eto" {{ traitement.contreEto == 0 ? "" : "checked" }}></td>
                        </tr>
                        <tr>
                            <td>filtre cave</td>
                            <td><input type="checkbox" value="filtre_cave" class="right"
                                       name="filtre_cave" {{ traitement.filtreCave == 0 ? "" : "checked" }}></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Score
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table">
                                <th>Score de risque CHA²DSVASc</th>
                                <tr>
                                    <td>Insuffisance cardiaque</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="insu_cardiaque"
                                               name="insu_cardiaque" {{ cha.insuCardiaque == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>HTA</td>
                                    <td class="score">1</td>
                                    <td><input class="right" data-value="1" type="checkbox" value="hta"
                                               name="hta" {{ cha.hta == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Age >= 75 ans</td>
                                    <td class="score">2</td>
                                    <td><input data-value="2" class="right" type="checkbox" value="age"
                                               name="age" {{ cha.age == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Diabète</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="diabete"
                                               name="diabete" {{ cha.diabete == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>ATCD AIT ou AVC</td>
                                    <td class="score">2</td>
                                    <td><input data-value="2" class="right" type="checkbox" value="atcd"
                                               name="atcd" {{ cha.atcd == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Maladie vasculaire</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="vasculaire"
                                               name="vasculaire" {{ cha.vasculaire == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Age 65-74 ans</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="age_tranche"
                                               name="age_tranche" {{ cha.ageTranche == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Sexe féminin</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="femme"
                                               name="femme" {{ cha.femme == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td class="empty">/</td>
                                    <td class="empty"></td>
                                    <td class="empty"></td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td id="totalCha" class="score">100</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table">
                                <th>Score de risque HASBLED</th>
                                <tr>
                                    <td>HTA</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="hta_has"
                                               name="hta_has" {{ has.htaHas == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Insuffisance hépatique</td>
                                    <td class="score">2</td>
                                    <td><input data-value="2" class="right" type="checkbox" value="insu_hepatique"
                                               name="insu_hepatique" {{ has.insuHepatique == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Insufisance rénale</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="insu_renale"
                                               name="insu_renale" {{ has.insuRenale == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>ATCD AIT ou AVC</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="ait_avc"
                                               name="ait_avc" {{ has.aitAvc == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Saignement</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="saignement"
                                               name="saignement" {{ has.saignement == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>INR labile</td>
                                    <td class="score">2</td>
                                    <td><input data-value="2" class="right" type="checkbox" value="inr"
                                               name="inr" {{ has.inr == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Age >= 65 ans</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="age_has"
                                               name="age_has" {{ has.ageHas == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Alcool</td>
                                    <td class="score">1</td>
                                    <td><input data-value="1" class="right" type="checkbox" value="alcool"
                                               name="alcool" {{ has.alcool == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>AINS</td>
                                    <td class="score">2</td>
                                    <td><input data-value="2" class="right" type="checkbox" value="ains"
                                               name="ains" {{ has.ains == 0 ? "" : "checked" }}></td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td id="totalHas" class="score">2000</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Précisions sur l'histoire neurologique et hémorrogique :
        </div>
        <div class="panel-body">
            <textarea name="neuro_hemo" rows="8" cols="80" class="form-control"
                      placeholder="Indiquez les précisions sur l'histoire ici" {{ patient.neuroHemo is not null ? "disabled" : "" }}>{{ patient.neuroHemo is not null ? patient.neuroHemo : "" }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <input type="text" class="form-control" name="mail" placeholder="Email du destinataire"
                       value="{{ doctor.mail is not null ? doctor.mail : "" }}" {{ doctor.mail is not null ? "disabled" : "" }}>
                {% if patient.firstname is not null %}
                    <input type="text" name="mail" value="{{ doctor.mail }}" hidden>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            {% if patient.name is null %}
                <input type="submit" class="btn btn-success staff_button right" value="Envoyer au staff">
            {% endif %}
        </div>
    </div>
</form>
